body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}


.container {
    width: 70%;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    margin-top: -10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40%;
}


Colocar os títulos das seções do lado esquerdo por cima das seções
h1 {
    font-size: 24px;
    margin: 10px;
    text-align: left;
}

.red-button {
    background-color: #e14333;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 20vw;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
}

.social-media {
    padding-left: 80vw;
    margin-left: 15px;
}

.social-media>img {
    width: 30px;
    height: 30px;
}

section {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card>p {
    text-align: center;
    font-size: 25px;
    line-height: 0.5;
    margin-bottom: 2px;
    font-weight: bold;
}

.card>img {
    width: 290px;
    height: 240px;
}

.gurana {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gurana>img {
    width: 175px;
    height: 240px;
}

.gurana>p {
    text-align: center;
    font-size: 25px;
    line-height: 0.5;
    margin-bottom: 2px;
    font-weight: bold;
}