body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 70%;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    margin-top: -300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 24px;
    margin: 10px;
}

.red-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 30vw;
    height: 50px;
    font-size: 24px;
}

.header {
    position: top;
    top: 0;
    width: 100%;
    background-color: #e14333;
    padding: 20px;
    z-index: 500;
    display: flex;
    flex-direction: row;
}

.social-media {
    padding-left: 80vw;
    margin-left: 15px;
}

.social-media>img {
    width: 30px;
    height: 30px;
}